{% extends 'layout.html' %}   
<!-- inheritence -->

{% block title %}
             Customer
          {% endblock %}  

{% include 'navbar.html' %}    
<!-- including navbar -->

{% block content %} 
 

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Service Name</th>
      <th scope="col">Base Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services %}
    
    <tr>
      <th scope="row">{{service.id}}</th>
      <td>{{service.name}}</td>
      <td>{{service.base_price}}</td>
      <td>Edit,Del,Update</td>
    </tr>
    {% endfor %}
     
  </tbody>
</table>
{% endblock %}