{% extends 'layout.html' %}   
<!-- inheritence -->

{% block title %}
             Customer
          {% endblock %}  

 {% include 'navbar_customer.html' %}

{% block content %} 

<div style="margin-top: 40px;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Service Name</th>
        <th scope="col">Base Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if services %}
      {% for service in services %}
      <tr>
        <th scope="row">{{service.id}}</th>
        <td>{{service.services.name}}</td>
        <td>{{service.services.base_price}}</td>
        {% if service.status == 'pending' %}
        <!-- id is uid -->
        <td><button type="button" class="btn btn-info btn-sm">{{service.status}}</button><a href="/customer/{{id}}/{{user}}/services/revoke" type="button" class="btn btn-warning btn-sm">Revoke</a></td>
        {% elif service.status == 'Accepted' %}
        <td><button type="button" class="btn btn-info btn-sm">{{service.status}}</button><a href="/customer/{{id}}/{{user}}/services/close" type="button" class="btn btn-warning btn-sm">Close it</a></td>
        {% elif service.status == 'Revoked' %}
        <td><button type="button" class="btn btn-info btn-sm">Revoked</button></td>

        {% else %}
        <td><button type="button" class="btn btn-info btn-sm">Closed</button><a href="/customer/{{id}}/{{user}}/services/edit_review" type="button" class="btn btn-secondary btn-sm">Edit Review</a></td>
        {% endif %}

      </tr>
      {% endfor %}
      <!-- {% else %} -->
       
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}