{% extends 'layout.html' %}   
<!-- inheritence -->

{% block title %}
             Delete Service
          {% endblock %}  

<!-- {% include 'navbar.html' %}     -->
<!-- including navbar -->

{% block content %} 
<div style="margin-top: 30px; text-align:center; color:blueviolet;"><b>Are You Sure You Want to Delete.</b> </div>

 
 

<form  style="margin-top:40px;"  action="/delete_service/{{service.id}}/{{user}}" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Category</label>
    <input type="text" class="form-control" name="name" id="name" value={{service.category.name}} readonly required>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" id="name" value={{service.name}} readonly required>
  </div>
  <div class="mb-3">
    <label for="base_price" class="form-label">Base Price</label>
    <input type="number" class="form-control" name="base_price" value={{service.base_price}} id="base_price" readonly required>
  </div>
  <div class="mb-3">
     
    <label class="form-label" for="description">Description</label>
    <input type="text"  class="form-control" name="description" id="description" value={{service.description}} readonly required>
  </div>
  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
   
  <a href="/admin/{{user}}"><button type="button" class="btn btn-secondary btn-sm">cancel</button></a>
</form>

{% endblock %}