{% extends 'layout.html' %}   
<!-- inheritence -->

{% block title %}
             Edit Service
          {% endblock %}  

<!-- {% include 'navbar.html' %}     -->
<!-- including navbar -->

{% block content %} 
<div class="err_pop">{{msg}}</div>
 

<form  style="margin-top:40px;"  action="/edit_service/{{service.id}}/{{user}}" method="POST">
  <div class="mb-3">
  <label for="category" class="form-label">Select Category</label>
  <select class="form-select form-label"  name="category" id="category" required>
<!-- service.category is backref -->
 <!-- idea is he is able to change the categoris also , and we set value in option tag , but by default option value is ours  -->
     
    {% for category in categories %}
    <option value={{service.category.name}}>Id-{{category.id}}  {{category.name}}</option>
    {% endfor %}
    <!-- if i used service.category.id it throws error of none type , bcz id and name are diff  -->

  </select>
  </div>

   

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" id="name" value={{service.name}} required>
  </div>
  <div class="mb-3">
    <label for="base_price" class="form-label">Base Price</label>
    <input type="number" class="form-control" name="base_price" value={{service.base_price}} id="base_price" required>
  </div>
  <div class="mb-3">
     
    <label class="form-label" for="description">Description</label>
    <input type="text"  class="form-control" name="description" id="description" value={{service.description}} required>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Save</button>
   
  <a href="/admin/{{user}}"><button type="button" class="btn btn-secondary btn-sm">cancel</button></a>
</form>

{% endblock %}