{% extends 'layout.html' %}   
<!-- inheritence -->

{% block title %}
             Admin
          {% endblock %}  

{% include 'navbar.html' %}    
<!-- including navbar -->

 {% block content %} 



{% if frauds %}
 <div class="err_pop">{{msg}}</div>

 <h3 class="center" style="text-align:center; ">Highly Flagged Customers</h3>
 {% endif %}
 {% if not frauds %}
 <div class="err_pop">{{msg}}</div>

 <h3 class="center" style="text-align:center; margin-top:40px; margin-bottom:40px;">Congrats , your customers are doing great ! No frauds.</h3>
 {% endif %}



{% if frauds %}
<table style="margin-top: 30px;" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
       
      <th scope="col">Customer Name</th>
      <th scope="col">Flags</th>
     
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
{% for customer in frauds %}
    
{% if customer.status == 1 %}

<tr>
  <td>{{customer.id}}</td>
  <td>{{customer.name}}</td>
  <td>{{customer.flag}}</td>
  <td><a href="/admin/{{user}}/fraud/{{customer.id}}/Block" type="button" class="btn btn-success btn-sm"> Block</a><button type="button" class="btn btn-danger btn-sm">Active</button></td>
</tr>
{% else %}
<tr> 
  <td>{{customer.id}}</td>
  <td>{{customer.name}}</td>
  <td>{{customer.flag}}</td>
  <td><button type="button" class="btn btn-success btn-sm">Blocked</button><a href="/admin/{{user}}/fraud/{{customer.id}}/Approve" type="button" class="btn btn-danger btn-sm">Approve</a></td>
</tr>

{% endif %}
{% endfor %}     
  </tbody>
</table>
{% endif %}
{% endblock %}