
{% block content %}
<!-- <div class="fixed-top"> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/professional/{{sid}}/{{user}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Summary</a>
        </li>
         
         
      </ul>
       
  
      <a class="navbar-brand" href="#">Welcome {{user}}</a>
    </div>
    <!-- action = # means action is performed on the same page instead of another page ,like we want to search on admin page so it is searching on admin page only , if we define any other it have to be available on that page -->
    <form action="/search/professional/{{sid}}/{{user}}" class="form-inline my-2 my-lg-0" method="POST">
      <input class="mr-sm-2" type="search" name="search_txt" placeholder="Search">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0"   type="submit">Search</button> -->
      <button type="submit">Search</button>
      <!-- we only need to submit i.e post request so button only , is we want to redirect then anchore <a href=""></a> -->
    </form>
    
    
  </div>
</nav>
<!-- </div> -->
     
   

{% endblock %}