{% extends 'layout.html' %}

{% block title %}
             Report Customer
          {% endblock %}  
   
  {% include 'navbar_professional.html' %}        

{% block content %} 


<div style="margin-top: 40px;">
  <div><h3>If customer behaviour is inappropriate or any fraudelent issue , Report</h3></div>
  <!-- take care have to paas service.id here  -->
  <form action="/professional/{{sid}}/{{user}}/customer/report/{{rsid}}" method="POST">
    <div><button type="submit" class="btn btn-danger btn-sm">Report</button></div>
  </form>
</div>
{% endblock %}
          