{% extends 'layout.html' %}

{% block title %}
   Service Revoke
{% endblock %}
{% include 'navbar_customer.html' %}

{% block content %}
<h1 style="text-align: center; margin-top:40px;">Are you sure you want to revoke? </h1>

 
<!-- <div class="display-1 fs-1 text center">
  <button>{{service.professional.id}} </button>
  <button>{{service.professional.name}} </button>
</div>         AS NO PROFESSIONAL ASSIGNED TILL NOW-->
<form action="/customer/{{uid}}/{{user}}/services/revoke", method="POST"> 
<div>
   <button style="text-align: center; " type="submit" class="btn btn-warning center">Revoke It</button>
</div>
</form>
  
 
{% endblock %}