*{
  margin: 0px;
}







.input_form{
  border: 1px solid blue;
  width: 600px;
  height: auto;
  /* responsive */
  margin: auto;      
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  text-align: justify;
}

 
.center{
  text-align: center;
  margin: auto;
  margin-top: 10px;
  color: rgb(5, 5, 110);
}


.h1{
  text-align: center;
}

.err_pop{
  text-align: center;
  margin: auto;
  color:maroon;
}